[Desktop Entry]
Version=1.0
Type=Application
Name=WebStorm
Comment=ECMAScript IDE
Exec={{ansible_user_dir}}/Software/webstorm/bin/webstorm.sh
Icon={{ansible_user_dir}}/Software/webstorm/bin/webstorm.svg
Path=
Terminal=false
StartupNotify=true
